@tailwind base;
@tailwind components;
@tailwind utilities;


.toast-container::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150px;
  height: 120px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    var(--gradient-color) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  opacity: 0.8;
  filter: blur(30px);
}

.toast-success {
  --gradient-color: rgba(52, 211, 153, 1);
}
.toast-error {
  --gradient-color: rgba(248, 113, 113, 1);
}
.toast-info {
  --gradient-color: rgba(96, 165, 250, 1);
}
.toast-warning {
  --gradient-color: rgba(251, 191, 36, 1);
}
